@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&display=swap');

body{
    box-sizing: border-box;
}

/* || VARIABLES */
:root{
    --BGCOLOR-HEADER: rgb(127, 127, 245);
    --COLOR-HEADER: #FFF;
    --RED: red;
    --YELLOW: #f4e800;
    --BLUE: #0006b0;
    --GREEN: rgb(1, 104, 1);
}

#barre_menu{
    display: flex;
}

.header_barre-menu{
    background-color: var(--BGCOLOR-HEADER);
    padding: 2em;
    color: var(--COLOR-HEADER);
    height: 75em;
}

.div_barre-menu{
    display: flex;
}

#barre_de_recherche{
    background-color: #f3f3f3;
}

.article_barre-recherche{
    background-color: #fefefe;
    height: 12%;  
}

.input_search{
    padding: 0.5em;
    border: 0;
    border-radius: 0.5em;
    width: 20em;
    font-size: 18px;
    background-color: #f4f4f4;
}

.bouton_search{
    border: 0;
    border-radius: 0.5em;
    background-color: var(--BGCOLOR-HEADER);
    padding: 1em;
    color: var(--COLOR-HEADER);
}

.bouton_search:hover{
   background-color: rgb(64, 125, 247);
}

.recherche{
    display: flex;
    padding: 1.5em;
}

.photo_profil{
    border-radius: 1em;
    margin-left: 10px;
}

.container{
    font-family: sans-serif;
    padding: 0.5em;
    margin-top: -2.5em;
    margin-left: 2em;
    margin-right: 2em;
}

.container_h1{
    font-size: 2.5em;
    color: #7c7c7c;
}

.container_header{
    display: flex;
    gap: 45rem;
}

.container_bouton{
    border: 0;
    border-radius: 0.5em;
    padding: 1em;
    background-color: rgb(127, 127, 245);
    margin-top: 2em;
    color: #fff;
    font-weight: bold;
}

#boxes{
    display: flex;
    gap: 2.1em;
}

.boxes__box{
    display: flex;
    border-radius: 5px;
    margin: 20px 0px;
    padding: 0px 5px;
    background-color: #fff;
}

.boxes__article{
    display: flex;
}

#graphiques{
    display: flex;
    gap: 1em;
    margin-top: 2em;
}

.graphiques__header{
    background-color: #7c7c7c;
}

.graphiques__header-h3-image1{
    background-color: #e0e1e6;
    color: rgb(127, 127, 245);
}

.graphiques__header-h3-image2{
    background-color: #e0e1e6;
    color: rgb(127, 127, 245);

}

.progressbar-wrapper{
  background-color: #e0e1e6;
  color: white;
  border-radius: 6px;
  width: 100%;
}

.progressbar{
    background-color: var(--PROGRESS);
    color: white;
    padding: 1rem;
    text-align: right;
    font-size: 20px;
    border-radius: 5px;
}

.progressbar[title="downloading"]{
    background-color: var(--RED);
}

.progressbar[title="downloaded"]{
    background-color: var(--YELLOW);
}

.progressbar[title="loading"]{
    background-color: var(--BLUE);
}

.progressbar[title="loaded"]{
    background-color: var(--GREEN);
}

.server{
    width: 20%;
}

.sales{
    width: 40%;
}

.wrapper{
    width: 60%;
}

.Details{
    width: 80%;
}
